.place_details_component{
    overflow-wrap: break-word;
    font-size: 20px;
    text-align: center;
}

b{
  font-size: 21px;
}

.place_name{
  text-decoration: underline;
}

.gallery_header{
  font-size: 21px;
  font-weight: 600;
}

a{
  text-decoration: underline;
  font-weight: 600;
  font-size: 23px;
}

.gallery{
  padding: 550px !important;
  display: none;
}

.miniature{
  float: left !important;
  padding: 0;
}
