/* importing fonts */
@import url('https://fonts.googleapis.com/css?family=Literata:400,400i,500,500i,600,600i,700,700i&display=swap');

.App{
  font-family: 'Literata', serif;
  text-align: center !important;
}

.header{
  margin-top: 50px;
}

.first-wrapper{
  position: absolute;
  left: 50%;
  top: 18%;
}

.second-wrapper{
  position: relative;
  left: -50%;
  border: dotted red 1px;
}

/* For small devices display page normal */
@media (max-width: 768px) {
  .first-wrapper{

  }
}

/* For bigger devices display phone border, to show how it would look on phone */
@media (max-width: 1000px) and  (min-width: 768px){
  .first-wrapper{
    width: 380px !important;
    height: 1000px !important;
  }
}

@media (max-width: 1300px) and  (min-width: 1000px){
  .first-wrapper{
    width: 420px !important;
    height: 1100px !important;
    font-size: 100px !important;
  }
}

@media (max-width: 1600px) and  (min-width: 1300px){
  .first-wrapper{
    width: 450px !important;
    height: 1300px !important;
  }
}

@media (min-width: 1600px){
  .first-wrapper{
    width: 480px !important;
    height: 1500px !important;
  }
}
