<html>
  <head>
    <title> FEST APKA </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <style>
      body{
        padding-left: 30px !important;
        background-color: #555;
        font-size: 25px;
        color: #aaa;
      }
    </style>
  </head>
  <body>

    this is /app/templates/home.html
    <br/><br/>

    <h1> data: </h1> <br/><br/>
    {% for place in places.results %}
      <div class = "place_header">
        <img src = "{{ place.icon }}"/>
        <a href = "/place/{{ place.place_id }}"> <h4> {{ place.name }} </h4> </a>
        place.vicinity {{ place.vicinity }} <br/>
        place.place_id {{ place.place_id }} <br/>
      </div>
      <br/><br/><br/>
    {% endfor %}
    <br/><br/><br/><br/><br/><br/>

    <div id = "demo">  </div>

    <script>

    // Adding AJAX setup for every feature request
    $.ajaxSetup({

       // For CSRF protection
       beforeSend: function(xhr, settings) {

           function getCookie(name) {
               var cookieValue = null;
               if (document.cookie && document.cookie != '') {
                   var cookies = document.cookie.split(';');
                   for (var i = 0; i < cookies.length; i++) {
                       var cookie = jQuery.trim(cookies[i]);
                       if (cookie.substring(0, name.length + 1) == (name + '=')) {
                           cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                           break;
                       }
                   }
               }
               return cookieValue;
           }
           if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
               xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
           }
       }
     });


      /* Getting div to display come data */
      var x = document.getElementById("demo");

      function getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(GetPosition);
        } else {
          x.innerHTML = "Geolocation is not supported by your browser.";
        }
      }

      function GetPosition(position) {

        // Showing coords in DOM
        x.innerHTML = "Latitude: " + position.coords.latitude +
        "<br>Longitude: " + position.coords.longitude;

        // Setting up object to send to backend
        let location = {
          Latitude: position.coords.latitude,
          Longitude: position.coords.longitude,
        };

        SendBackendGeoLocation(location);

      }

      function SendBackendGeoLocation(data_to_send){
        $(document).ready(function() {
            $.ajax({
                method: 'POST',
                url: '/',
                data: {'location': data_to_send},
                success: function (data) {
                     //alert("AJAX WORKED! DATA: "+data);
                },
                error: function (data) {
                     alert("ERROR AJAX CALL DIDNT WORK");
                }
            });
        });
      }

      getLocation();

    </script>

  </body>
</html>
