<html>
  <head>
    <title> FEST APKA </title>
    <style>
      body{
        padding-left: 30px !important;
        background-color: #555;
        font-size: 25px;
        color: #aaa;
      }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  </head>
  <body>

    this is /app/templates/place_details.html <br/><br/>



    <br/><br/><br/>
    <a href="/"> back to home </a>
    <br/>


    <!-- Setting details.result as details to easier syntax -->
    {% with details.result as details %}

      <h1> Details of {{ details.name }}: </h1> <br/><br/>

      <!-- information about opening hours -->

      <button onclick="RequestGalleryOfImages()"> Show me gallery of images related with this place! </button> <br/>


        Open now: {{ details.opening_hours.open_now }} <br/>
        Open now: {{ details.opening_hours.weekday_text }} <br/>

        <br/>

        Website: {{ details.website }} <br/>
        Phone nuber: {{ details.international_phone_number }} <br/>
        Vincinty: {{ details.vicinity }} <br/>

        Rating: {{ details.rating }}
        Number of votes: {{ details.user_ratings_total }}

        <br/><br/>
        <h2> Reviews: </h2>
        {% for review in details.reviews %}
          <br/>
          Author: {{ review.author_name }} <br/>
          Rate: {{ review.rating }} <br/>
          {{ review.text }} <br/>
          <br/>
        {% endfor %}

    {% endwith %}


    <script>
      // Adding AJAX setup for every feature request
      $.ajaxSetup({

         // For CSRF protection
         beforeSend: function(xhr, settings) {

             function getCookie(name) {
                 var cookieValue = null;
                 if (document.cookie && document.cookie != '') {
                     var cookies = document.cookie.split(';');
                     for (var i = 0; i < cookies.length; i++) {
                         var cookie = jQuery.trim(cookies[i]);
                         if (cookie.substring(0, name.length + 1) == (name + '=')) {
                             cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                             break;
                         }
                     }
                 }
                 return cookieValue;
             }
             if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                 xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
             }
         }
       });

       function RequestGalleryOfImages(){
         console.log("{{ details }}")
         $(document).ready(function() {
             $.ajax({
                 method: 'POST',
                 url: '/image_gallery/{{ details.place_id }}',
                 data: {'details': "{{ details }}"},
                 success: function (data) {
                      console.log(data)
                 },
                 error: function (data) {
                      alert("ERROR AJAX CALL DIDNT WORK");
                 }
             });
         });

       }

    </script>

  </body>
</html>
