<html>
  <head>
    <title> FEST APKA </title>
    <style>
      body{
        padding-left: 30px !important;
        background-color: #555;
        font-size: 25px;
        color: #aaa;
      }
    </style>
  </head>
  <body>

    this is /app/templates/place_details.html
    <br/><br/>

    <h1> Details: </h1> <br/><br/>

    <!-- information about opening hours -->
    Open now: {{ details.opening_hours.open_now }} <br/>
    Website: {{ details.website }}


    <script>

    </script>

  </body>
</html>
